# ROOT
/node_modules

# DOCUMENTS
/document/~$-Prompt.docx
/document/*.pdf
/document/*.tmp

# WEBSITE ADMINISTRATOR
/apps/web/administrator/logs
/apps/web/administrator/*.log
/apps/web/administrator/npm-debug.log*
/apps/web/administrator/yarn-debug.log*
/apps/web/administrator/yarn-error.log*
/apps/web/administrator/pnpm-debug.log*
/apps/web/administrator/lerna-debug.log*

/apps/web/administrator/node_modules
/apps/web/administrator/.DS_Store
/apps/web/administrator/dist
/apps/web/administrator/dist-ssr
/apps/web/administrator/coverage
/apps/web/administrator/*.local

/apps/web/administrator/cypress/videos/
/apps/web/administrator/cypress/screenshots/

/apps/web/administrator/.vscode/*
/apps/web/administrator/!.vscode/extensions.json
/apps/web/administrator/.idea
/apps/web/administrator/*.suo
/apps/web/administrator/*.ntvs*
/apps/web/administrator/*.njsproj
/apps/web/administrator/*.sln
/apps/web/administrator/*.sw?
/apps/web/administrator/*.tsbuildinfo

# WEBSITE FRANCHISEE
/apps/web/franchisee/logs
/apps/web/franchisee/*.log
/apps/web/franchisee/npm-debug.log*
/apps/web/franchisee/yarn-debug.log*
/apps/web/franchisee/yarn-error.log*
/apps/web/franchisee/pnpm-debug.log*
/apps/web/franchisee/lerna-debug.log*

/apps/web/franchisee/node_modules
/apps/web/franchisee/.DS_Store
/apps/web/franchisee/dist
/apps/web/franchisee/dist-ssr
/apps/web/franchisee/coverage
/apps/web/franchisee/*.local

/apps/web/franchisee/cypress/videos/
/apps/web/franchisee/cypress/screenshots/

/apps/web/franchisee/.vscode/*
/apps/web/franchisee/!.vscode/extensions.json
/apps/web/franchisee/.idea
/apps/web/franchisee/*.suo
/apps/web/franchisee/*.ntvs*
/apps/web/franchisee/*.njsproj
/apps/web/franchisee/*.sln
/apps/web/franchisee/*.sw?
/apps/web/franchisee/*.tsbuildinfo

# LARAVEL BACK-END
/backend/laravel/.phpunit.cache
/backend/laravel/node_modules
/backend/laravel/public/build
/backend/laravel/public/hot
/backend/laravel/public/storage
/backend/laravel/storage/*.key
/backend/laravel/vendor
/backend/laravel/.env.backup
/backend/laravel/.env.production
/backend/laravel/.phpunit.result.cache
/backend/laravel/Homestead.json
/backend/laravel/Homestead.yaml
/backend/laravel/auth.json
/backend/laravel/npm-debug.log
/backend/laravel/yarn-error.log
/backend/laravel/.fleet
/backend/laravel/.idea
/backend/laravel/.vscode

# CLAUDE SPECIFIC

/document/

/web/node_modules/
/apps/web/node_modules/
/apps/web/administrator/.vscode/
/apps/web/administrator/public/
/apps/web/administrator/env.d.ts

/apps/web/franchisee/.vscode/
/apps/web/franchisee/public/
/apps/web/franchisee/env.d.ts

/backend/laravel/app/Console/
/backend/laravel/app/Exceptions/
/backend/laravel/app/Models/
/backend/laravel/app/Providers/
/backend/laravel/bootstrap/
/backend/laravel/database/
/backend/laravel/public/
/backend/laravel/resources/
/backend/laravel/storage/
/backend/laravel/tests/
/backend/laravel/.editorconfig
/backend/laravel/.env.example
/backend/laravel/composer.lock
/backend/laravel/phpunit.xml
/backend/laravel/vite.config.js


